 Import required packages with their customary aliases: Use the %matplotlib inline magic command that show your plots

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Read the GDP and internet dataset into your notebook as a DataFrame called gdp_df, look at the first 6 rows.Exclude footnotes

In [2]:
gdp_df = pd.read_csv('data/gdp_percapita.csv')
gdp_df.head(n=6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

In [3]:
internet_df = pd.read_csv('data/internet_use.csv', nrows = 4495 )
internet_df.head(n=6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [4]:
internet_df.tail(5)

     Country or Area  Year     Value  Value Footnotes
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

Look at the shape of each DataFrame - how many rows? How many columns?

In [5]:
gdp_df.shape

(6608, 4)

In [6]:
internet_df.shape

(4495, 4)

Take a look at the datatypes for the columns in each DataFrame.

In [7]:
gdp_df.info

<bound method DataFrame.info of      Country or Area                                      Year        Value  \
0        Afghanistan                                      2018  2190.240321
1        Afghanistan                                      2017  2202.570851
2        Afghanistan                                      2016  2200.764487
3        Afghanistan                                      2015  2212.750899
4        Afghanistan                                      2014  2249.253738
...              ...                                       ...          ...
6603        Zimbabwe                                      1992  3054.889178
6604        Zimbabwe                                      1991  3426.598094
6605        Zimbabwe                                      1990  3324.348171
6606   footnoteSeqID                                  Footnote          NaN
6607               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
6603              NaN
6604              NaN
6605              NaN
6606              NaN
6607              NaN

[6608 rows x 4 columns]>